.stack-work/
.gitignore
readings/
misc/
*~
todo.txt
DBFunctor.hidecabal
testprint.hs
Setup.hs
doc/*.pptx
test/data/usefull_material.docx
app/test-data.sql
dbfunctor.png
doc/dbfunctor.png
